<!--  Hero -->

<section class="hero" >


    <h1 class='t1'>Soluções Customizadas</h1>

      <p>Para as mais variadas demandas na área<br> de tecnologia e serviços.</p>

    <div class="but_hero">

      <%= link_to "Saiba mais", servicos_path, class:'but_sm' %>
      <%= link_to "Sobre Nós", sobre_nos_path, class:'but_sn' %>

    </div>
</section>


<section class="services-section">

    <div class="services-header">
      <span class="services-badge">Soluções inovadoras, Resultados mensuráveis</span>
      <h2 class="services-title">Nos especializamos nos seguintes serviços</h2>
    </div>
    <div class="services-grid">
      <div class="service-card">
        <div class="service-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
  <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
  <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
</svg></div>
        <h3 class="service-title">Assistencia Técnica Autorizda</h3>
        <p class="service-description">Assistência autorizada de impressoras, multifuncionais, projetores e scanners</p>
        <a href="#" class="service-link">Saiba Mais →</a>
      </div>
      <div class="service-card">
        <div class="service-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-droplet-half" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
  <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
</svg></div>
        <h3 class="service-title">Suprimentos Epson Originais</h3>
        <p class="service-description">Fornecimento autorizado de tintas originais.</p>
        <a href="#" class="service-link">Saiba Mais →</a>
      </div>
      <div class="service-card">
        <div class="service-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
  <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
</svg></div>
        <h3 class="service-title">Venda de Sistemas de Energia</h3>
        <p class="service-description">Revenda de Nobreaks e Estabilizadores Ragtech</p>
        <a href="#" class="service-link">Saiba Mais →</a>
      </div>
      <div class="service-card">
        <div class="service-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-mailbox2-flag" viewBox="0 0 16 16">
  <path d="M10.5 8.5V3.707l.854-.853A.5.5 0 0 0 11.5 2.5v-2A.5.5 0 0 0 11 0H9.5a.5.5 0 0 0-.5.5v8z"/>
  <path d="M4 3h4v1H6.646A4 4 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3V3a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m.585 4.157C4.836 7.264 5 7.334 5 7a1 1 0 0 0-2 0c0 .334.164.264.415.157C3.58 7.087 3.782 7 4 7s.42.086.585.157"/>
</svg></div>
        <h3 class="service-title">Inteligência em Mensageria</h3>
        <p class="service-description">Foco em condomínios residenciais e comerciais.</p>
        <a href="/servicos" class="service-link">Saiba Mais →</a>
      </div>

    </div>
</section>


  <section class="carousel-section">
    <div class="carousel-container">
      <div class="carousel-text">
        <h2>Quem confia em nossos serviços</h2>
      </div>
      <div class="carousel-logos">
        <div class="logo-container">
          <ul class="logo-list">
            <li><img src='https://svgshare.com/i/185P.svg' title='python' /></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/walmart.svg" alt="Walmart"></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/nestle.svg" alt="Nestle"></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/electrolux.svg" alt="Electrolux"></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/carrefour.svg" alt="Carrefour"></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/cocacola.svg" alt="Coca Cola"></li>
          </ul>
          <ul class="logo-list">
            <li><img src='https://svgshare.com/i/185P.svg' title='python' /></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/walmart.svg" alt="Walmart"></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/nestle.svg" alt="Nestle"></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/electrolux.svg" alt="Electrolux"></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/carrefour.svg" alt="Carrefour"></li>
            <li><img src="https://vtexwpprd.wpenginepowered.com/pt-br/wp-content/uploads/sites/6/2024/05/cocacola.svg" alt="Coca Cola"></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
 <div class="container py-5">
    <section class='cards'>
    <div class="features-container">
      <div class="feature-card">
        <div class="icon">
          <i class="bi bi-file-earmark-text"></i>
        </div>
        <h1>Full Documentation</h1>
        <p>Built by developers for developers. Check the foundation and you will find everything inside our documentation.</p>
      </div>
      <div class="feature-card">
        <div class="icon">
          <i class="bi bi-bag-check"></i>
        </div>
        <h1>Bootstrap 5 Ready</h1>
        <p>The world’s most popular front-end open source toolkit, featuring Sass variables and mixins.</p>
      </div>
      <div class="feature-card">
        <div class="icon">
          <i class="bi bi-clock"></i>
        </div>
        <h1>Save Time & Money</h1>
        <p>Creating your design from scratch with dedicated designers can be very expensive. Start with our Design System.</p>
      </div>
      <div class="feature-card">
        <div class="icon">
          <i class="bi bi-phone"></i>
        </div>
        <h1>Fully Responsive</h1>
        <p>Regardless of the screen size, the website content will naturally fit the given resolution.</p>
      </div>



    </div>
    <div class="highlight-card">
        <div class="content">
          <div class="icon">
            <i class="bi bi-box"></i>
          </div>
          <h5>Feel the Soft UI Design System</h5>
          <button class="highlight-button">Start with Headers</button>
        </div>
        </div>
    </section>
  </div>
