<!--  Hero -->

<section class="hero" >


    <h1 class='t1'>Soluções Customizadas</h1>

      <p>Para as mais variadas demandas na área<br> de tecnologia e serviços.</p>

    <div class="but_hero">

      <%= link_to "Saiba mais", servicos_path, class:'but_sm' %>
      <%= link_to "Sobre Nós", sobre_nos_path, class:'but_sn' %>

    </div>
</section>
