<!--  Hero -->

<section class="hero" >


    <h1 class='t1'>Soluções Customizadas</h1>

      <p>Para as mais variadas demandas na área<br> de tecnologia e serviços.</p>

    <div class="but_hero">

      <%= link_to "Saiba mais", servicos_path, class:'but_sm' %>
      <%= link_to "Sobre Nós", sobre_nos_path, class:'but_sn' %>

    </div>
</section>


<section class="services-section">

    <div class="services-header">
      <span class="services-badge">Soluções inovadoras, Resultados mensuráveis</span>
      <h2 class="services-title">Nos especializamos nos seguintes serviços</h2>
    </div>
    <div class="services-grid">
      <div class="service-card">
        <div class="service-icon"><!-- Icon --></div>
        <h3 class="service-title">Digital Marketing</h3>
        <p class="service-description">Growing brands online through digital channels.</p>
        <a href="#" class="service-link">Know more →</a>
      </div>
      <div class="service-card">
        <div class="service-icon"><!-- Icon --></div>
        <h3 class="service-title">Product Design</h3>
        <p class="service-description">Creating products that users love and businesses need.</p>
        <a href="#" class="service-link">Know more →</a>
      </div>
      <div class="service-card">
        <div class="service-icon"><!-- Icon --></div>
        <h3 class="service-title">Web Design</h3>
        <p class="service-description">Designing websites that are visually appealing & user-friendly.</p>
        <a href="#" class="service-link">Know more →</a>
      </div>
      <div class="service-card">
        <div class="service-icon"><!-- Icon --></div>
        <h3 class="service-title">UI/UX Design</h3>
        <p class="service-description">Creating user interfaces that are both efficient and enjoyable.</p>
        <a href="#" class="service-link">Know more →</a>
      </div>

    </div>
</section>

<section class="carousel">

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="http://robocuts.com/wp-content/uploads/2012/01/600x200.png" alt=""></div>
    <div class="swiper-slide"><%= image_tag("Logo NOBG teste.png", :alt => "navbar logo", :class => "navbar-logo") %></div>
    <div class="swiper-slide"><%= image_tag("Logo NOBG teste.png", :alt => "navbar logo", :class => "navbar-logo") %>Slide 3</div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

</section>

<script>const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>
